body
{
      display: grid;

      grid-template-rows: auto auto auto;
      grid-template-columns: auto;

      grid-gap: 32px;

      width: 100%;

      margin: 0px;
      padding: 0px;
}

header
{
      padding: 0px;
      width: 100%;
}

.space-header
{
      margin-top: 8px;
      margin-bottom: 8px;
}


.menu-horizontal
{
      margin: 0px;
      padding: 0px;

      display: flex;

      width: 100%;

      justify-content: center;

}

.menu-horizontal li
{
      display: block;

      list-style: none;

      text-transform: uppercase;
      flex-wrap: wrap;
}

.header-menu-text-link
{
  margin: 0px;
  padding: 0px;

  margin-left: 16px;
  margin-right: 16px;
}

.header-menu-text-link i
{
  margin-left: 4px;
  margin-right: 8px;

  color: rgba(0, 0, 0, 0);
}

.header-menu-text-link:hover i
{
  color: rgba(0, 0, 0, 255);
}

.align-container
{
      position: relative;
}

.align-center
{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.header-menu-link a
{
      text-decoration: none;
      font-family: 'open sans';
}

.navigation-link a
{
      font-size: 20px;
      color: white;
}

.menu-link-button a
{
      color: black;
}

.container-area-3-item-storage
{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 16px;
}

.container-area-4-item-storage
{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 16px;

      height: 100%;
      width: 100%;
}

.navigation-header-menu
{
      display: flex;

      text-transform: uppercase;

      margin: 0px;
      padding: 0px;

      padding-top: 36px;
}

.navigation-header-menu li
{
      list-style: none;

      display: block;

      flex-wrap: wrap;


      margin: 0px;

      margin-left: 16px;
      margin-right: 16px;

      padding: 0px;
}

.navigation-header-menu li:first-child
{
      margin-right: 75px;
}

.navigation-header-menu li:last-child
{
      margin-left: auto;
}

.page-container
{
      margin-bottom: 8px;
}

#footer-main-area-containment div p
{
      color: white;
      margin: 0px;

      margin-left: 16px;
      margin-right: 16px;

      font-family: 'open sans';
}

.footer-menu-list
{

}

.footer-menu-list li a
{
      font-family: 'open sans';
      font-size: 12px;
}

.footer-menu-list li:hover a
{
  color: yellow;
}


.footer-menu-list li:active a
{
  color: green;
}

.footer-site-links-menu
{

}

.footer-site-links-menu ul
{
  list-style: none;

  margin: 0px;
  padding: 0px;
}


.footer-site-links-menu ul li
{
  margin: 0px;
  padding: 0px;

  margin-top: 4px;
  margin-bottom: 4px;

  margin-left: 16px;
}

.footer-site-links-menu ul li a
{
  color: white;

  font-family: "open sans";
  text-decoration: none;

  font-size: 12px;
}

.footer-site-links-menu ul li a:hover
{
    color: yellow;
}

.footer-site-links-menu ul li a:active
{
  color: green;
}

#footer-site-more-information
{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#footer-site-more-information li
{
  margin-left: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#footer-site-more-information li a
{
  color: white;
  text-decoration: none;

  font-size: 12px;

  font-family: "open sans";
}

#footer-site-more-information li a:hover
{
  color:yellow;
}

#footer-site-more-information li a:active
{
  color:green;
}

.container
{

}

.container-2
{
      grid-column: span 2;
}

.navigation-header
{
      height: 100px;
      background-color: gray;
}

.menu-horizontal-right
{
      justify-content: right;
}

.menu-horizontal-center
{
      justify-content: center;
}

.page
{
      width: 1080px;

      margin-left: auto;
      margin-right: auto;
}

main
{
      width: 100%;
      min-height: 600px;
}

footer
{
      width: 100%;
      text-transform: uppercase;


}

.link a
{
      text-decoration: none;
      color: black;
}

.center-text p
{
      text-align: center;
      text-transform: uppercase;
}

.footer-misc
{
      margin-top: 0px;
      margin-bottom: 8px;
      padding: 0px;
}

.footer-misc div p
{
      font-family: 'open sans';
      font-size: 12px;
}

.footer-misc-copyright p
{
      margin: 0px;
      margin-top: 8px;
}

.footer-menu-list li
{
  margin-right: 8px;
  margin-left: 8px;
}

.footer-main-area
{
      background-color: gray;
      padding-top: 32px;
      padding-bottom: 32px;
}

.menu-social-horizontal
{
      display: flex;
      justify-content: space-around;
}

.menu-social-horizontal li
{
      display: block;

      margin-right: 8px;
      margin-left: 8px;
}

.menu-social-horizontal li:first-child
{
      margin-left: 0px;
}

.menu-social-horizontal li:last-child
{
      margin-right: 0px;
}

#footer-site-share
{
  margin-top: 16px;
}

#footer-site-share p
{
  font-size: 20px;
}

#footer-site-share ul
{
  margin: 0px;
  padding: 0px;

  margin-top: 8px;
  margin-bottom: 8px;
}

.footer-site-description-content
{
  font-size: 14px;
}

.footer-site-description-content:first-child
{
  font-size: 20px;
  margin: 0px !important;
  margin-bottom: 4px !important;
}

.footer-site-description-content:last-child
{

}

.footer-menu-share-link
{

}

.footer-menu-share-link a i
{
  color: white;

  font-size: 24px;
}

.footer-menu-share-link a:hover i
{
  color: yellow;

}

.footer-menu-share-link a:active i
{
  color: green;

}
