body
{
      display: grid;

      grid-template-rows: auto auto auto;
      grid-template-columns: auto;

      grid-gap: 32px;

      width: 100%;

      margin: 0px;
      padding: 0px;
}

.page
{
      width: 1080px;

      margin-left: auto;
      margin-right: auto;
}

@import './generics.scss';

@import './header.scss';
@import './footer.scss';
@import './main.scss';

@import './mobile.scss';
