body
{
      display: grid;
      
      grid-template-rows: auto auto auto;
      grid-template-columns: auto;
      
      grid-gap: 8px;

      width: 100%;

      margin: 0px;
      padding: 0px;
}

header
{
      padding: 0px;
      width: 100%;
      
}

.space-header
{
      margin-top: 8px;
      margin-bottom: 8px;
}


.menu-horizontal
{
      margin: 0px;
      padding: 0px;

      display: flex;
      
      width: 100%;

      justify-content: center;

}

.menu-horizontal li
{
      display: block;

      list-style: none;

      text-transform: uppercase;
      flex-wrap: wrap;

      margin-left: 8px;
      margin-right: 8px;
}

.align-container
{
      position: relative;
}

.align-center
{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.header-menu-link a
{
      text-decoration: none;
      font-family: 'open sans';
}

.navigation-link a
{
      font-size: 20px;
      color: white;
}

.menu-link-button a
{
      color: black;
}

.container-area-3-item-storage
{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto; 
      grid-gap: 16px;
}

.container-area-4-item-storage
{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto; 
      grid-gap: 16px;

      height: 100%;
      width: 100%;
}

.navigation-header-menu
{
      display: flex;
      
      text-transform: uppercase;
      
      margin: 0px;
      padding: 0px;

      padding-top: 36px;
}

.navigation-header-menu li 
{
      list-style: none;
      display: block;
      flex-wrap: wrap;
      
      
      margin: 0px;

      margin-left: 16px;
      margin-right: 16px;

      padding: 0px;
}

.navigation-header-menu li:first-child
{
      margin-right: 75px;
}

.navigation-header-menu li:last-child
{
      margin-left: auto;
}

.page-container
{
      margin-bottom: 8px;
}

#footer-main-area-containment div p
{
      color: white;
      margin: 0px;
      width: 100%;

      font-family: 'open sans';
}

.footer-menu-list
{

}

.footer-menu-list li a
{
      font-family: 'open sans';
      font-size: 12px;

}

.container
{

}

.container-2
{
      grid-column: span 2;
}

.navigation-header
{
      height: 100px;
      background-color: gray;
}

.menu-horizontal-right
{
      justify-content: right;
}

.menu-horizontal-center
{
      justify-content: center;
}

.page
{
      width: 1090px;
      margin-left: auto;
      margin-right: auto;
}

main
{
      width: 100%;
}

footer
{
      width: 100%;
      

}

.link a
{
      text-decoration: none;
      color: black;
}

.center-text p
{
      text-align: center;
      text-transform: uppercase;
}

.footer-misc
{
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0px;
}

.footer-misc div p 
{
      font-family: 'open sans';
      font-size: 12px;
}

.footer-misc-copyright p
{
      margin: 0px;
      margin-top: 8px;
}

.footer-main-area
{
      background-color: gray;
      padding-top: 32px;
      padding-bottom: 16px;
}