.footer-cover
{
      background-color: #ECEFF1;
}

.footer-misc
{
      font-family: "roboto";
      text-transform: uppercase;
      
      font-size: 12px;
      padding: 0px;
}

.footer-misc p 
{
      text-align: center;
      margin: 0px;

      margin-top: 4px;
      margin-bottom: 4px;
      padding: 0px;
}

.footer-misc-navigation
{
      margin-top: 4px;
      margin-bottom: 4px;
}

.header-cover
{
      background-color: #ECEFF1;
      
      padding-top: 32px;
      padding-bottom: 32px;
}

.site-menu
{
      text-transform: uppercase;
      font-family: 'Assistant';
}

.vertical-menu
{
      margin: 0px;
      padding: 0px;

}

.vertical-menu li 
{
      list-style: none;
      
      margin: 0px;
      margin-top: 8px;
      margin-bottom: 8px;
      padding: 0px;

}

.vertical-menu li p
{
      margin: 0px;
      padding: 0px;
      
}

.vertical-menu li:first-child p:first-child
{
      font-weight: bold;
}

.vertical-menu li a
{
      
      
}

.horizontal-menu
{
      display: flex;

      margin: 0px;
      padding: 0px;
}


.menu-even
{
      justify-content: space-evenly;
}

.menu-left
{
      justify-content: right;
}

.site-nav
{
      margin-top: 8px;
      margin-bottom: 8px;
      font-size: 12px;
}

.horizontal-menu li 
{
      list-style: none;
      margin: 0px;
      margin-left: 16px;
      margin-right: 16px;
      padding: 0px;
}

.horizontal-menu li a 
{
      text-decoration: none;
}

.link 
{
      text-decoration: none;
}

.overlay-link
{
      color:#8BC34A;
}

.overlay-link:hover
{
      color:#FF5722;
}

.overlay-link-light
{
      color:gray;
}

.overlay-link-light:hover
{
      color:#FF5722;
}

.site-cover-front
{
      background-image: url('../img/1.jpg');
      background-position-y: -100px;
}

.offset-to-header
{
      top: -32px;
}

.offset-to-footer
{
      bottom: -32px;
}

.site-cover-end
{
      background-image: url('../img/15.jpg');

}

section
{
      margin-top: 32px;
      margin-bottom: 32px;
}

section:first-child
{
      margin-top: 0px;
}

section:last-child
{
      margin-bottom: 0px;
}

.site-cover 
{
      background-color: #2196F3;
      background-size:cover;
      width: 100%;
      height: 550px;
      
}

.stacked-3-containers-horizontal
{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 64px;
}

.containers 
{
      display: block;
}

.document-body
{
      font-family: 'roboto';
}

.document-title
{
      font-family: 'Assistant';
      font-size: 28px;
}


.site-introduction
{

}

.site-introduction p 
{
      margin-top: 8px;
      margin-bottom: 8px;

}

.offset-container
{
      position: relative;
      height: 550px;
}

.attachable
{
      position: absolute;
}

.horizontal-link-menu
{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 32px;
}

.page-boundary
{
      width: 1080px;
      margin-left: auto;
      margin-right: auto;
}

.menu-area-container
{
      padding-top: 32px;
      padding-bottom: 32px;
}