$information-box-default-animation-time:200ms;

$info-card-active-color:#2196F3;

$info-card-blend-inactive-color:#455A64;
$info-card-blend-active-color:gray;

// Background color
$info-card-inactive-color:#F5F5F5;

.stacked-3-cards-full
{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 16px;
}

.info-card-area
{
      text-decoration: none;
      color: $info-card-inactive-color;

      width: 100%;

      margin: 0px;
      padding: 0px;
}

.info-card
{
      transition-duration: $information-box-default-animation-time;
      background-color: $info-card-blend-inactive-color;

      width: 100%;
      height: 265px;

      position: relative;

      margin: 0px;
      padding: 0px;
}

.info-card-text
{
      padding-top: 32px;

      padding-left: 16px;
      padding-right: 16px;
}

.infocard-source-button
{
      position: absolute;
      display: grid;

      height: 48px;
      width: 100%;

      background-color: $info-card-inactive-color;

      bottom:0px;

      color:black;

      grid-template-columns: 1fr 1fr;
      grid-gap: 32px;
      
}

.infocard-sb-container
{
      display: block;

      padding-left: 16px;
      padding-right: 16px;
}

.infocard-expandeble-container
{
      transition-duration: $information-box-default-animation-time;
      margin-left: auto;
      
      

      height: 100%;
      width: 48px;
}



.infobox-icon-continue
{
      margin-left: auto;
      width: 48px;
      height: 100%;

      text-align: center;
}

.infobox-icon-continue i
{
      transition-duration: $information-box-default-animation-time;
      color:$info-card-active-color;
      
      display: inline-block;
      
      text-align: center;

      font-size: 16px;

      margin-top: 16px;
      margin-bottom: 16px;

      font-weight: 600;
}   

// Rules
.infocard-sb-container:last-child
{
      padding: 0px;
}

.infocard-sb-container:first-child p
{
      margin: 0px;
      
      text-align: center;
      vertical-align: middle;

      font-size: 16px;
      line-height: 48px;

      text-transform: uppercase;
}


.info-card-area:hover .info-card .infocard-source-button .infocard-sb-container:last-child .infocard-expandeble-container
{
      background-color: $info-card-active-color;
      transition-duration: $information-box-default-animation-time;
}

.info-card-area:active .info-card .infocard-source-button .infocard-sb-container:last-child .infocard-expandeble-container
{
      transition-duration: $information-box-default-animation-time;
      background-color: $info-card-active-color;

      width: 100%;     
}

.info-card-area:hover .info-card .infocard-source-button .infocard-sb-container:last-child .infocard-expandeble-container i
{
      color: $info-card-inactive-color;
      transition-duration: $information-box-default-animation-time;
}

.info-card-area:hover .info-card
{
      background-color: $info-card-blend-active-color;
      transition-duration: $information-box-default-animation-time;

}

.info-card-area:active .info-card .infocard-source-button .infocard-sb-container:last-child .infocard-expandeble-container i
{
      color: $info-card-inactive-color;
      transition-duration: $information-box-default-animation-time;
}

// Contents Used, ie. images as cover
.infobox-browser
{
      background-image: url('../img/42.jpg');

      background-size: cover;
      background-repeat: no-repeat;
      background-blend-mode: overlay;
}

.infobox-desktop
{
      background-image: url('../img/19.jpg');

      background-size: cover;
      background-repeat: no-repeat;
      background-blend-mode: overlay;
}

.infobox-server
{
      background-image: url('../img/21.jpg');

      background-size: cover;
      background-repeat: no-repeat;
      background-blend-mode: overlay; 
}

//transition-duration: 200ms;