.page-boundary
{
      width: $default-page-width;

      margin-left: auto;
      margin-right: auto;
}

body
{
      display: grid;
      grid-gap: 32px;

      grid-template-areas: "header-area"
                           "main-area"
                           "footer-area";

      width: 100%;

      margin: 0px;
      padding: 0px;

      background-color: $main-background-color;
}

//
header
{
      grid-area: header-area;

}

@import './page/header.scss';
@import './page/menu.scss';

main
{
      grid-area: main-area;

}

footer
{
      grid-area: footer-area;

}

@import './page/footer.scss';
