$highlight-menu-infobox: #2196F3;

$highlight-menu: #F7630C;

$inactive-menu: #1E90FF;
$inactive-menu-overlay: #ECEFF1;

$background-site-menu: #2196F3;

$main-menu-cover-color:#2196F3;
$main-background-color:#ECEFF1;

$default-edge-offset: -32px;