.link
{
      text-decoration: none;
}

.overlay-link
{
      color:$inactive-menu-overlay;
}

.overlay-link:hover
{
      color:$highlight-menu;
}

.overlay-link-light
{
      color:$inactive-menu;
}

.overlay-link-light:hover
{
      color: $highlight-menu;
}
