.menu-horizontal
{
      margin: 0px;
      padding: 0px;

      display: flex;

      width: 100%;
}

.menu-horizontal li
{
      display: block;

      list-style: none;

      text-transform: uppercase;
      flex-wrap: wrap;
}

.container
{

}

.container-2
{
      grid-column: span 2;
}

.page-container
{
      margin-bottom: 8px;
}

.container-area-3-item-storage
{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 16px;
}

.container-area-4-item-storage
{
      display : grid;

      grid-template-columns : 1fr 1fr 1fr 1fr;
      grid-template-rows    : auto;
      grid-gap: 16px;

      height : 100%;
      width  : 100%;
}

.align-container
{
      position: relative;
}

.align-center
{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.flex-center
{
    justify-content: center;
}

.page
{
      width: 1080px;

      margin-left: auto;
      margin-right: auto;
}

.navigation-link a
{
      font-size: 20px;
      color: white;
}

.menu-link-button a
{
      color: black;
}

.link a
{
      text-decoration: none;
      color: black;
}

.center-text p
{
      text-align: center;
      text-transform: uppercase;
}
