.page-boundary
{
      width: $default-page-width;

      margin-left: auto;
      margin-right: auto;
}

body
{
      display: grid;
      grid-gap: 32px;

      grid-template-areas: "header-area"
                           "main-area"
                           "footer-area";

      width: 100%;

      margin: 0px;
      padding: 0px;

      background-color: $main-background-color;
}

//
header
{
      grid-area: header-area;

}

// ---------------------------------------------------------------
@import './page/header.scss';
@import './page/menu.scss';

main
{
      grid-area: main-area;

}

footer
{
      grid-area: footer-area;

}

#built
{
      color: white;

}

#built p 
{
      text-align: center;
      font-family: 'open sans';
      margin: 0px;
      margin-top: 4px;
      margin-bottom: 4px;
      padding: 0px;
}

#built ul
{
      display: flex;
      list-style: none;
      margin: 0px;
      padding: 0px;
      
      justify-content: center;
}

#built ul li 
{
      margin-left: 12px;
      margin-right: 12px;

}

#built a 
{
      font-size: 24px;
      color: white;
}

@import './page/footer.scss';
